.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  height: 90vh;
  width: 50%;
}

.contact-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
}

h3 {
  text-align: center;
  width: 100%;
}

.contact-container input,
.contact-container textarea {
  background: none; /* Removes the background */
  border: none; /* Removes the border */
  border-bottom: 1px solid #f4e9cd; /* Adds underline */
  outline: none; /* Removes the outline that appears on focus */
  color: #f4e9cd; /* Sets the text color */
}

.contact-container ::placeholder {
  color: var(--body-color);
}

.contact-title {
  color: var(--body-accent);
}

.contact-container button {
  text-decoration: none;
  color: var(--body-color);
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  border: 1px solid var(--body-color); /* To remove the default browser styles */
  background: none; /* To remove the default browser styles */
  cursor: pointer; /* To change the cursor on hover */
}

.contact-container button:hover {
  background: var(--body-accent);
  color: var(--body-color);
  border: 1px solid var(--body-color);
}

/* If you want to add some space between the text in the input and the underline */
.contact-container input::placeholder,
.contact-container textarea::placeholder {
  padding-bottom: 5px;
}

.contact-logo {
  width: 50px;
  margin-right: 1vh;
}

.social-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-color); /* Change the text color */
  text-decoration: none; /* Remove the underline */
  cursor: pointer; /* Change the cursor on hover */
}

/* .social-container a:hover {
  color: var(--body-color);
} */

.process-container {
  text-align: center; /* Center the text inside the container */
}

.process-container p {
  margin-left: 5vh;
  margin-right: 5vh;
}

.process-container h2 {
  color: var(--body-accent);
}

.tabs {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 1em; /* Add space between buttons */
}

.tabs button {
  border: 1px solid #f4e9cd; /* Remove default border */
  background: none; /* Remove default background */
  font-size: 1rem;
  cursor: pointer; /* Change the cursor on hover */
  transition: color 0.2s ease; /* Smooth transition for color change */
}

.tabs button:hover {
  background: var(--body-accent);
  color: var(--body-color);
  border: 1px solid var(--body-color);
}

.tabs button:focus {
  background: var(--body-accent);
  color: var(--body-color);
  border: 1px solid var(--body-color);
}

@media (min-width: 768px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.2rem; /* 36px on large desktop */
  }

  p {
    font-size: 1rem; /* 22px on large desktop */
  }
}

@media (min-width: 1024px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.1rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2.1rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.3rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.1rem; /* 22px on large desktop */
  }
}

@media (min-width: 1280px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.2rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2.2rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.4rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.2rem; /* 22px on large desktop */
  }
}

@media (min-width: 1366px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.25rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2.25rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.45rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.25rem; /* 22px on large desktop */
  }
}

@media (min-width: 1440px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2.3rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2.3rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.5rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.3rem; /* 22px on large desktop */
  }
}

@media (min-width: 1600px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2.4rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 2.4rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 1.6rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.4rem; /* 22px on large desktop */
  }
}

@media (min-width: 1920px) {
  .contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 100%;
    width: 50%;
  }

  .contact-inner {
    flex-direction: column;
  }

  .contact-logo {
    width: 30px;
    margin-right: 1vh;
  }

  .social-container {
    margin-bottom: 5vh;
  }

  form {
    margin-left: 2%;
    width: 90%;
  }

  .contact-container input,
  .contact-container textarea {
    width: 40vw;
  }

  a {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3.2rem; /* 56px on large desktop */
  }

  h2 {
    font-size: 3.2rem; /* 56px on large desktop */
  }

  h3 {
    font-size: 2rem; /* 36px on large desktop */
  }

  p {
    font-size: 1.5rem; /* 22px on large desktop */
  }
}
