.credit-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 9999;
}

.credit-content {
  background: var(--body-background);
  padding: 20px;
  /* Set width and height as needed */
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close-button {
  /* Style the close button as needed */
  float: right;
}
