.navbar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.navlogo {
  width: 25%;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: var(--body-color);
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover {
  background: var(--body-accent);
  color: var(--body-color);
}

@media (min-width: 768px) {
  .navlogo {
    width: 8%;
  }
}
