/* .portfolio-container {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
} */

/* .intro {
  width: 90%;
  text-align: center;
  padding: 0.5rem;
}

.intro-background-image {
  position: absolute;
  left: 7%;
  bottom: -5%;
  z-index: -1;
  opacity: 0.08;
  width: 500px;
} */

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.ptext {
  font-size: 5em;
  top: 20%;
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
}

.ppara {
  font-size: 1.5em;
  top: 38%;
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  pointer-events: none;
  text-align: left;
  width: 25%;
}

.hill5 {
  z-index: 3;
}

.hill4 {
  z-index: 3;
}

.hill3 {
  z-index: 2;
}

.hill2 {
  z-index: 0;
}

.plant {
  z-index: 3;
}

.leaf {
  z-index: 3;
}
