.preloader {
  position: fixed;
  z-index: 999900; /* increase this if needed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(
    --body-background
  ); /* add a background color to cover everything underneath */
}
