.sparent-container {
  display: flex;
  flex-direction: row-reverse; /* Added this */
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  margin-bottom: 50vh;
}

.stext-container {
  margin-right: 10%;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stext-container h1,
.stext-container h3 {
  color: var(--body-accent);
}

.sands-container {
  position: relative;
  width: 60%;
  height: 800px;
}

.slink-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sgithub-logo {
  width: 15%;
  filter: var(--body-filter);
}

.sexternal-logo {
  width: 15%;
  filter: var(--body-filter);
}
